h1 {
    text-align: center;
}

.stats {
    padding: 5em 0;
    background: #6927ff;
    color: #fff;
}

.stat {
    font-weight: 700;
    font-size: 40px;
}

.statSubtext {
    font-size: 16px;
    color: rgba(255,255,255,.7);
    display: block;
}

body {
    font-family: "Work Sans";
}

.section {
    margin-top: 30px;
    padding-top: 30px;
}