.header {
    background-image: url("https://tkbka.imgix.net/IMG_20190522_161734.jpg?h=300&w=1920&fit=crop&crop=focalpoint&auto=format&q=100");
    background-size: cover;
    height: 300px;
    border-radius: 5px;
    background-repeat: no-repeat;  
    position: relative;  
}

.container {
    padding-top:20px;
}

.mainPhoto {
    background-image: url("https://byron-buzz.imgix.net/IMG_20191024_100842.jpg");
    background-size: contain;
    height: 100vh;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.navbar {
    background-color: #fff;
    border-radius: 6px;
    box-shadow:         1px 1px 0px 0px #ddd;
}

.navLink {
    font-family: "Work Sans Medium";
    font-size: 13px;
    padding-top: .9rem;
    padding-bottom: .9rem;
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 1px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
    opacity: 1!important;
}
